# dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
*.log
npm-debug.log*

# local env files
.env.local
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
